body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.container input, .container button, .container span {
  margin-bottom: 10px;
}